<main class="flex-column">
<input 
  type="{{type}}" 
  id="{{id}}" 
  class="{{className}}" 
  placeholder="{{placeholder}}" 
  value="{{value}}" 
  name="{{name}}"
/>
<span class="error-message"></span>
</main>
