<main class="settings">
  <div class="settings__content">
    <div class="settings__sidebar">
      <div class="settings__header">
        <h2 class="settings__title">Настройки</h2>
      </div>
      <ul class="settings__menu">
        <li class="settings__menu-item">
          <a href="" class="settings__menu-link">Аккаунт</a>
        </li>
        <li class="settings__menu-item">
          <a href="" class="settings__menu-link">Уведомления</a>
        </li>
        <li class="settings__menu-item">
          <a
            href=""
            class="settings__menu-link settings__menu-link--danger"
          >Удалить аккаунт</a>
        </li>
      </ul>
    </div>
    <div class="settings__main">
      <form class="settings__form flex-column">
        <h3 class="settings__section-title">Аккаунт</h3>
        <div id="account" class="flex">
          <div class="settings__avatar flex-column align-center">
            <img
              src="{{avatar}}"
              alt="User Avatar"
              class="settings__avatar-image"
            />
            <label for="avatar" class="settings__avatar-title">Сменить аватар</label>
            <input
              type="file"
              id="avatar"
              name="avatar"
              class="settings__avatar-input"
              hidden
            />
          </div>
          <div class="settings__inputs flex-column">
            {{{firstNameInput}}}
            {{{secondNameInput}}}
            {{{displayNameInput}}}
            {{{loginInput}}}
            {{{emailInput}}}
            {{{phoneInput}}}
            {{{oldPasswordInput}}}
            {{{newPasswordInput}}}
          </div>
        </div>
        <div class="settings__submit-button flex">
          {{{saveButton}}}
        </div>
      </form>
    </div>
  </div>
</main>
