<main>
  <div class="register flex align-center justify-center">
    <form class="register__form flex" method="POST">
      <h1 class="register__title">Регистрация</h1>
      
      <div class="register__form-group">
        {{{emailInput}}}
      </div>
      
      <div class="register__form-group">
        {{{loginInput}}}
      </div>
      
      <div class="register__form-group">
        {{{secondNameInput}}}
      </div>
      
      <div class="register__form-group">
        {{{firstNameInput}}}
      </div>
      
      <div class="register__form-group">
        {{{passwordInput}}}
      </div>

      <div class="register__form-group">
        {{{phoneInput}}}
      </div>
      
      <div class="register__form-group">
        {{{registerButton}}}
      </div>
    </form>
    <p class="register__error" id="error-message"></p>
  </div>
</main>
