<main>
  <div class="container flex">
    {{{modalAddUser}}}

    <div class="sidebar">
      <div class="sidebar__header">
        <h2>Мои чаты</h2>
      </div>

      <div class="sidebar__create-chat">
        {{{createChatInput}}}
        {{{createChatButton}}}
      </div>

      <ul class="sidebar__chat-list flex-column">
        {{{chatsList}}}
      </ul>
    </div>

    <div class="chat-area flex-column">
      <div class="chat-area__messages">
        {{{messagesList}}}
      </div>

      <div class="chat-area__input flex">
        <div class="chat-area__input-field">
          {{{messageInput}}}
          {{{openModalButton}}}
        </div>
        {{{sendButton}}}
      </div>
    </div>
  </div>
</main>
